<h2 mat-dialog-title>Optimizer settings</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field>
    <mat-label>Artifact selection</mat-label>
    <mat-select [(ngModel)]="settings.filter">
      <mat-option value="all">All</mat-option>
      <mat-option value="not-equipped">Not equipped</mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;&nbsp;
  <mat-checkbox [(ngModel)]="settings.maxToSixteen">Max main stat to level 16</mat-checkbox>
  &nbsp;&nbsp;
  <mat-form-field>
    <mat-label>Preferred set</mat-label>
    <mat-select [(value)]="settings.preferredSet">
      <mat-option value="">No preference</mat-option>
      <mat-option *ngFor="let set of sets" [value]="set.setKind">{{ set.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  Optimize:<br/>
  <mat-checkbox [(ngModel)]="settings.optimizeWeapon">Weapon</mat-checkbox>
  &nbsp;&nbsp;
  <mat-checkbox [(ngModel)]="settings.optimizeHelmet">Helmet</mat-checkbox>
  &nbsp;&nbsp;
  <mat-checkbox [(ngModel)]="settings.optimizeShield">Shield</mat-checkbox>
  &nbsp;&nbsp;
  <mat-checkbox [(ngModel)]="settings.optimizeGloves">Gloves</mat-checkbox>
  &nbsp;&nbsp;
  <mat-checkbox [(ngModel)]="settings.optimizeChest">Chest</mat-checkbox>
  &nbsp;&nbsp;
  <mat-checkbox [(ngModel)]="settings.optimizeBoots">Boots</mat-checkbox>
  &nbsp;&nbsp;
  <mat-checkbox [(ngModel)]="settings.optimizeRing">Ring</mat-checkbox>
  &nbsp;&nbsp;
  <mat-checkbox [(ngModel)]="settings.optimizeCloak">Amulet</mat-checkbox>
  &nbsp;&nbsp;
  <mat-checkbox [(ngModel)]="settings.optimizeBanner">Banner</mat-checkbox>
  <br/>
  <table>
    <tr>
      <td>
        Health
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [min]=0 placeholder="minimum" [(ngModel)]="settings.minimumHealth"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [min]=0 placeholder="maximum" [(ngModel)]="settings.maximumHealth"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [min]=0 placeholder="soft-cap *" [(ngModel)]="settings.capHealth"/>
        </mat-form-field>
      </td>
      <td>
        <mat-slider thumbLabel [displayWith]="weightDisplay" tickInterval="1" min="0" max="16"
                    [(value)]="settings.weightHealth"></mat-slider>
      </td>
    </tr>
    <tr>
      <td>
        Attack
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [min]=0 placeholder="minimum" [(ngModel)]="settings.minimumAttack"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [min]=0 placeholder="maximum" [(ngModel)]="settings.maximumAttack"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [min]=0 placeholder="soft-cap *" [(ngModel)]="settings.capAttack"/>
        </mat-form-field>
      </td>
      <td>
        <mat-slider thumbLabel [displayWith]="weightDisplay" tickInterval="1" min="0" max="16"
                    [(value)]="settings.weightAttack"></mat-slider>
      </td>
    </tr>
    <tr>
      <td>
        Defense
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [min]=0 placeholder="minimum" [(ngModel)]="settings.minimumDefense"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [min]=0 placeholder="maximum" [(ngModel)]="settings.maximumDefense"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [min]=0 placeholder="soft-cap *" [(ngModel)]="settings.capDefense"/>
        </mat-form-field>
      </td>
      <td>
        <mat-slider thumbLabel [displayWith]="weightDisplay" tickInterval="1" min="0" max="16"
                    [(value)]="settings.weightDefense"></mat-slider>
      </td>
    </tr>
    <tr>
      <td>
        Speed
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [min]=0 placeholder="minimum" [(ngModel)]="settings.minimumSpeed"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [min]=0 placeholder="maximum" [(ngModel)]="settings.maximumSpeed"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [min]=0 placeholder="soft-cap *" [(ngModel)]="settings.capSpeed"/>
        </mat-form-field>
      </td>
      <td>
        <mat-slider thumbLabel [displayWith]="weightDisplay" tickInterval="1" min="0" max="16"
                    [(value)]="settings.weightSpeed"></mat-slider>
      </td>
    </tr>
    <tr>
      <td>
        C.Rate
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [min]=0 placeholder="minimum" [(ngModel)]="settings.minimumCriticalChance"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [min]=0 placeholder="maximum" [(ngModel)]="settings.maximumCriticalChance"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [min]=0 placeholder="soft-cap *" [(ngModel)]="settings.capCriticalChance"/>
        </mat-form-field>
      </td>
      <td>
        <mat-slider thumbLabel [displayWith]="weightDisplay" tickInterval="1" min="0" max="16"
                    [(value)]="settings.weightCriticalChance"></mat-slider>
      </td>
    </tr>
    <tr>
      <td>
        C.Damage
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [min]=0 placeholder="minimum" [(ngModel)]="settings.minimumCriticalDamage"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [min]=0 placeholder="maximum" [(ngModel)]="settings.maximumCriticalDamage"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [min]=0 placeholder="soft-cap *" [(ngModel)]="settings.capCriticalDamage"/>
        </mat-form-field>
      </td>
      <td>
        <mat-slider thumbLabel [displayWith]="weightDisplay" tickInterval="1" min="0" max="16"
                    [(value)]="settings.weightCriticalDamage"></mat-slider>
      </td>
    </tr>
    <tr>
      <td style="padding-right: 8px">
        Resistance
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [min]=0 placeholder="minimum" [(ngModel)]="settings.minimumResistance"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [min]=0 placeholder="maximum" [(ngModel)]="settings.maximumResistance"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [min]=0 placeholder="soft-cap *" [(ngModel)]="settings.capResistance"/>
        </mat-form-field>
      </td>
      <td>
        <mat-slider thumbLabel [displayWith]="weightDisplay" tickInterval="1" min="0" max="16"
                    [(value)]="settings.weightResistance"></mat-slider>
      </td>
    </tr>
    <tr>
      <td>
        Accuracy
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [min]=0 placeholder="minimum" [(ngModel)]="settings.minimumAccuracy"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [min]=0 placeholder="maximum" [(ngModel)]="settings.maximumAccuracy"/>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <input matInput type="number" [min]=0 placeholder="soft-cap *" [(ngModel)]="settings.capAccuracy"/>
        </mat-form-field>
      </td>
      <td>
        <mat-slider thumbLabel [displayWith]="weightDisplay" tickInterval="1" min="0" max="16"
                    [(value)]="settings.weightAccuracy"></mat-slider>
      </td>
    </tr>
  </table>
  <small>* Soft-cap means the stat can go higher but values above soft-cap won't be seen as improvements</small>
  <br/>
  <small>Slider changes importance of the stat, NI = Not Important, +[number] = Higher number means more
    important</small>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button (click)="optimize()">Optimize</button>
</mat-dialog-actions>
