<h1>Raid Extractor</h1>
<p>Welcome to Raid: Shadow Legends - Artifact Optimizer, the website to optmize your artifacts in Raid: Shadow Legends.</p>
<p>All code used by this website and the artifact extractor application can be found here: <a href="https://github.com/LukeCroteau/RaidExtractor">https://github.com/LukeCroteau/RaidExtractor</a></p>
<p>You need to run the RaidExtractor application while also running Raid: Shadow Legends to extract all your hero and artifacts from the Windows version of the game.</p>
<p>The RaidExtractor application can be found <a href="https://github.com/LukeCroteau/RaidExtractor/releases">here</a>.</p>
