<h2 mat-dialog-title>Select a hero</h2>
<mat-dialog-content class="mat-typography">
  <form>
    <mat-form-field>
      <mat-label>Show</mat-label>
      <mat-select [(value)]="filter" (selectionChange)="refreshArtifacts()">
        <mat-option value="all">All</mat-option>
        <mat-option value="not-equipped">Not equipped</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Order by</mat-label>
      <mat-select [(value)]="orderBy" (selectionChange)="refreshArtifacts()">
        <mat-option value="default">Default</mat-option>
        <mat-option value="Health">Health</mat-option>
        <mat-option value="Attack">Attack</mat-option>
        <mat-option value="Defense">Defense</mat-option>
        <mat-option value="Speed">Speed</mat-option>
        <mat-option value="CriticalRate">C.Rate</mat-option>
        <mat-option value="CriticalDamage">C.Dmg</mat-option>
        <mat-option value="Resistance">Resistance</mat-option>
        <mat-option value="Accuracy">Accuracy</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <mat-table [dataSource]="artifacts">
    <ng-container matColumnDef="set">
      <mat-header-cell *matHeaderCellDef> Set </mat-header-cell>
      <mat-cell *matCellDef="let artifact"> {{account.getArtifactSet(artifact)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let artifact"> {{account.getArtifactType(artifact)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="bonuses">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let artifact"> <span [innerHTML]="account.artifactToHtml(artifact)"></span> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="button">
      <mat-header-cell *matHeaderCellDef> &nbsp; </mat-header-cell>
      <mat-cell *matCellDef="let artifact"> <button mat-raised-button (click)="select(artifact)">select</button> </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['set', 'type', 'bonuses', 'button']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['set', 'type', 'bonuses', 'button'];"></mat-row>
  </mat-table>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
